@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Matthew Buckmaster  
   Date: 4/28/2021
   
   Filename: index.css

*/

/* =============================
	Main
   =============================
*/
body {
  font-family: monospace;

}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/* =============================
	Nav Design
   =============================
*/

header {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  height: 5em;
  width: 100%;
  opacity: 0.9;
  box-sizing: border-box;
  padding: 12px 18px;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
  display: block;
  overflow: hidden;
}

nav {
    font-size: 24px;
    float: left;
    margin-left: 3%;  
}

.nav-img {
  width: 35px;
  margin: 8px;
  float: left;
}

ul {
  list-style-type: none;
  margin-top: 12px ;
}

li {
  display: inline;
  margin: 0 90px 0 0;
  font-size: 21px;
  float: left;
  text-shadow: 2px 2px 3px #000000;
}

.nav-line {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-animation: hue 10s infinite linear;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 80%;
  transition: background-size 0.2s ease;
}

a:hover {
  background-size: 100% 75%;
}

/* =============================
	Social Design
   =============================
*/

.fa {
  font-size: 100%;
  width: 40px;
  text-decoration: none;
  margin: 5px 2px;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
  transition: 2s;
}

.social-nav {
  margin-right: 25px;
  display: inline-block;
  float: right;

}



/* =============================
	Home Body
   =============================
*/


.bio-img {
  margin: 7.5% 0 0 1.5%; 
  border-radius: 4px; 
  float: left; 
  width: 45%;
  max-height: 60%;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.2);

}

.name-tag {
  margin-top: 7%;
  font-size: 3.5em;
  width: 50%;

} 

.name-f {
  font-family: 'FreeMono', monospace;;
  margin: 8% 0 0 8%;
  float: left;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-animation: hue 10s infinite linear;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 45%;

}

.name-l {
  font-family: 'FreeMono', monospace;
  margin: 5% 0 0 30%;
  float: left;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-animation: hue 10s infinite linear;
  background-repeat: no-repeat;
  background-size: 70% 0.4em;
  background-position: 35% 85%;
}

#intro {
  background-color:black; 
  width: 60%; 
  height: 30%;
  border-radius: 10px; 
  margin: -8% 0 0 32%; 
  color: white;
}

section {
  margin: 4% 0 0 75px;
}

.sec-h1 {
  font-size: 30px;

}

.sec-p {
  font-size: 19px;

}

.sec-b {
   float: right; 
   margin-right: 10%;
   margin-bottom:45px;

}



/* =============================
	About Body
   =============================
*/


.abt-p {
  font-size: 30px;
  float: center;

}

.abt-bio {
  margin: 10% 0 20% 8%;

}



/* =============================
	Contact Design
   =============================
*/

input {
  display: block;
  width: 35%;
  height: 35px;
  padding: 0 15px;
  color: #000000;
  border: 1px solid #ce4242;
  border-radius: 5px;
  margin-bottom: 15px
}

.contact {
  margin: 0 0 0 8%;
}

h1.contact {
  font-size: 40px; 
  margin: 5% 0 8% 0 ;

}